.row.clubs
  - unless @clubs.blank?
    - @clubs.each do |club|
      - if club.vinked?(current_user)
        - vinkedit = "vinked"
        - icon = "white"
      - else
        - vinkedit = "not_vinked"
        - icon = "grey"

      .small-12.large-6.columns
        .panel(class=vinkedit)
          .vink
            = link_to new_vink_path, remote: true do
              %i.fi-checkbox(class=icon)
          .club= club.name
          .vinkedits= club.vinks.size
          .users= club.users.size
  - else
    .small-6.small-centered.columns.panel.none
      .no_data= I18n.t('.clubs.none1')
      .no_data= link_to I18n.t('.clubs.none2'), clubs_path
