.row.clubs
  - unless @clubs.blank?
    - @clubs.each do |club|
      - if @calculator.vinked?(club)
        - vinkedit = "vinked"
        - icon = "white"
      - else
        - vinkedit = "not_vinked"
        - icon = "grey"

      .small-8.small-centered.columns
        .panel(class=vinkedit)
          .vink
            - if current_user.basic?
              = link_to "#", class: "vink_button", id: club.id do
                %i.fi-checkbox(class=icon)
            - else
              %i.fi-checkbox(class=icon)
          .club= club.name
          - if current_user.premium?
            = link_to club_path(club, view: "comments") do
              .comments
                .icon
                  %i.fi-comments
                .count 0
          - else
            .comments
              .icon
                %i.fi-comments
              .count 0
          = link_to club_path(club, view: "users") do
            .users
              .icon
                %i.fi-torsos
              .count= club.users.size
          = link_to club_path(club, view: "own_vinkedits") do
            .users
              .icon
                %i.fi-torso
              .count= @calculator.vinks?(club, current_user)
          = link_to club_path(club, view: "vinkedits") do
            .vinkedits
              .icon
                %i.fi-check
              .count= @calculator.vinks?(club)

      .small-8.small-centered.columns
        %div{ id: "club_#{club.id}", class: "vink_form", style: "display:none;" }
          = form_for @vink, remote: true, remote: true do |f|
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :club_id, value: club.id
            .row
              .small-12.columns
                %label= I18n.t('.vinks.form.visit_date')
                .date= f.date_select :vink_date, { include_blank: true, default: nil, order: [:day, :month, :year], start_year: 20.years.ago.year, end_year: DateTime.now.year }
            .row
              .small-12.columns
                = f.submit(I18n.t('.vinks.save'), class: "button")
                = link_to I18n.t('.general.cancel'), clubs_path, class: 'button secondary vink_close'
  - else
    .small-6.small-centered.columns.panel.none
      .no_data= I18n.t('.clubs.none1')
      .no_data= link_to I18n.t('.clubs.none2'), clubs_path
