= form_for @club do |f|
  = render "layouts/error_messages", target: @club
  .row
    .small-12.columns
      %label= I18n.t('.clubs.form.country_id')
      = f.select :country_id, Country.order(:country).map{ |c| [c.country, c.id] }, include_blank: true
  .row
    .small-12.columns
      %label= I18n.t('.clubs.form.league_id')
      = f.select :league_id, options_for_select(League.order(:name).map{ |l| [l.name, l.id, {'data-country' => l.country_id}] }, include_blank: true)

  .row
    .small-12.columns
      %label= I18n.t('.clubs.form.name')
      = f.text_field :name
  .row
    .small-12.columns
      = f.submit(class: 'button', value: I18n.t('.general.save'))
      = link_to I18n.t('.general.cancel'), clubs_path, class: 'button secondary'