- if can? :index, League
  = render "layouts/page_header", level1_title: nil, level1_path: nil, level2_title: I18n.t('.leagues.index_title')

  - if can? :create, League
    .row
      .small-6.columns
        = render "layouts/country_filter", target_path: leagues_path
      .small-offset-4.small-2.columns
        .action= link_to I18n.t('.leagues.new_title'), new_league_path, class: 'small button secondary'

.row
  .small-12.columns
    %table
      %thead
        %tr
          %th= I18n.t(".leagues.form.level")
          %th= I18n.t(".leagues.form.name")
          %th= I18n.t(".leagues.form.country_id")
          %th
      %tbody#leagues
        = render "leagues", leagues: @leagues

.row
  .small-12.large08.large-centered.columns
    = will_paginate @leagues

