- unless @comments.blank?
  - @comments.each do |comment|
    .comment
      .panel
        .content= comment.content
        .details= "#{User.find(comment.user_id).screen_name} - #{comment.created_at.strftime('%d-%m-%Y @ %H:%M')}"
- else
  .panel= I18n.t('.comments.no_comments')
