.small-7.small-centered.columns
  .panel
    .vink_nr 123.
    .away_club= decorate_data_field(Club.find(vink.away_club_id).name)
    .vink_date= decorate_data_field(vink.vink_date, true)
    - if current_user.premium?
      .details
        = link_to "#", class: "vink_details", id: vink.id do
          %i.fi-list.large.grey
    %div{ id: "vink_#{vink.id}", class: "vink_details_panel", style: "display:none;" }
      = decorate_data_field(vink.club.name)
