- unless @vink.blank?
  - vink = @vink
  - view = "user"


%span{ id: "vinkdetails_#{vink.id}" }
  .row
    .small-12.small-centered.large-10.large-centered.columns
      .panel.vink
        .vink_date= "#{decorate_data_field(vink.vink_nr)}."
        .vink_date= decorate_data_field(vink.vink_date, true)

        - if view == "club"
          .away_club= decorate_data_field(Club.find(vink.away_club_id).name) unless vink.away_club_id.blank?
        - else
          - unless vink.club.blank? or Club.find(vink.away_club_id).blank?
            .away_club= "#{vink.club.name} v #{Club.find(vink.away_club_id).name}"

        .details
          = link_to "#", class: "vink_details", id: vink.id do
            %i.fi-list.large.green
        - if view == "club"
          .user= link_to decorate_data_field(vink.user.screen_name), user_path(vink.user) unless vink.user.blank?
        %div{ id: "vink_#{vink.id}", class: "vink_details_panel", style: "display:none;" }
          .vinkdata
            .row
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.visit_nr')
                .visit_item= decorate_data_field(vink.vink_nr)
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.countfor92')
                .visit_item
                  - if vink.countfor92 == true
                    Yes
                  - else
                    No
            .row
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.country_id')
                .visit_item= decorate_data_field(League.find(vink.league_id).country.country) unless vink.league_id.blank?
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.league_id')
                .visit_item= decorate_data_field(League.find(vink.league_id).name) unless vink.league_id.blank?
            .row
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.result')
                .visit_item= decorate_data_field(vink.result)
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.season')
                .visit_item= decorate_data_field(vink.season)
            .row
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.gate')
                .visit_item= decorate_data_field(vink.gate)
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.kickoff')
                .visit_item= decorate_data_field(vink.kickoff)
            .row
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.ticket')
                .visit_item= decorate_data_field(number_to_currency(vink.ticket, precision: 2))
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.ground')
                .visit_item= decorate_data_field(vink.ground)
            .row
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.street')
                .visit_item= decorate_data_field(vink.street)
              .small-6.columns
                .visit_label= I18n.t('.vinks.form.city')
                .visit_item= decorate_data_field(vink.city)
            .row
              .small-12.columns
                .visit_label= I18n.t('.vinks.form.rating')
                .visit_item
                  = render "vinks/rating", vink: vink
            .row
              .small-12.columns
                - if can? :edit, Vink and vink.user == current_user
                  = link_to I18n.t('.helpers.edit'), edit_vink_path(vink, club: vink.club), remote: true, class: "tiny button"
                = link_to I18n.t('.vinks.details'), vink_path(vink), class: "tiny button"
