- if vinks.blank?
  .row
    .small-centered.small-8.columns
      .panel= I18n.t('.general.no_data')
- else
  - if params[:keyword]
    .row
      .small-centered.small-7.columns
        .panel.search= "#{vinks.count} #{I18n.t('.general.search_result')}: '#{params[:keyword]}'"

  - vinks.each do |vink|
    = render "vinks/vink_details", vink: vink, view: "user"

  .row
    .small-5.small-offset-4.columns
      .buttons
        = link_to "prev", user_path(@user, prev_vink_nr: vinks.last.vink_nr), class: "button"
        = link_to "next", user_path(@user, next_vink_nr: vinks.first.vink_nr), class: "button"
