- if can? :show, User
  = render "layouts/page_header", level1_title: I18n.t('.users.vinks_index'), level1_path: users_path, level2_title: "#{I18n.t('.users.show_title')}: #{@user.screen_name}"

  .row
    .small-10.small-centered.columns
      = form_tag user_path(current_user), method: :get do
        = text_field_tag :keyword, nil, placeholder: "enter search string, e.g. 'Charlton' or 'Old Trafford' or 'Conference' or '223'"

  .row
    .small-12.columns
      .details#vinks
        = render "vinks", vinks: @vinks
