.row
  .small-8.small-centered.columns.login
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      %h2= I18n.t(".devise.passwords.title")
      = devise_error_messages!
      = f.email_field :email, class: "input-block-level", placeholder: I18n.t('.users.form.email'), autofocus: true
      = f.submit(class: 'button', value: I18n.t(".devise.passwords.submit"))
      = render "devise/shared/links"
