!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{ lang: "en"}
  / <![endif]
  %head
    %title= content_for?(:title) ? yield(:title) : I18n.t('.site.title')
    %meta{ charset: "utf-8" }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport" }/
    %link{ href: "http://fonts.googleapis.com/css?family=Open+Sans", rel: "stylesheet", type: "text/css" }
    %script{src: "https://www.google.com/jsapi", type: "text/javascript"}
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

    /[if lt IE 9]
      <script src='assets/javascripts/ie/html5shiv.js' type='text/javascript'></script>
      <script src='assets/javascripts/ie/respond.min.js' type='text/javascript'></script>
  %body
    .page_wrapper
      %nav.top-bar{"data-topbar" => ""}
        %ul.title-area
          %li.name
            %h1= link_to I18n.t('.site.title'), root_path
          %li.toggle-topbar.menu-icon
            %a{href: "#"} Menu
        %section.top-bar-section
          / Right Nav Section
          %ul.right
            - if signed_in? and current_user.admin?
              %li.divider
              %li.has-dropdown
                %a{href: "#"}= I18n.t(".users.roles.admin")
                %ul.dropdown
                  %li= link_to I18n.t(".leagues.index_title"), leagues_path
                  %li= link_to I18n.t(".clubs.clubs_title"), clubs_path(view: "maintenance")
            - if signed_in?
              %li.divider
              %li= link_to I18n.t(".site.faq_short"), site_faq_path
              %li.divider
              %li.has-dropdown
                %a{href: "#"}= current_user.screen_name
                %ul.dropdown
                  %li= link_to I18n.t(".users.profile_title"), user_profile_path(current_user)
                  %li= link_to I18n.t(".devise.sessions.sign_out"), destroy_user_session_path, method: :delete
            - else
              %li.divider
              %li= link_to I18n.t(".devise.sessions.sign_up"), new_user_registration_path
              %li.divider
              %li= link_to I18n.t(".devise.sessions.sign_in"), new_user_session_path
          %ul.left
            %li= link_to I18n.t('.users.vinks_index'), users_path
            %li.divider
            - if signed_in?
              %li= link_to I18n.t('.users.vinks_title'), user_path(current_user)
              %li.divider
              %li.has-dropdown
                %a{href: "#"}= I18n.t(".statistics.title")
                %ul.dropdown
                  - if can? :index, :statistics
                    - if current_user.premium?
                      %li= link_to I18n.t(".statistics.my_statistics"), user_statistics_path(current_user)
              %li.divider
              %li.has-dropdown
                %a{href: "#"}= I18n.t(".clubs.index_title")
                %ul.dropdown
                  %li= link_to I18n.t(".clubs.my_index_title"), clubs_path(view: "own")
                  %li= link_to I18n.t(".clubs.latest_index_title"), clubs_path(view: "latest")
                  %li= link_to I18n.t(".clubs.all_index_title"), clubs_path(view: "all")
                  - if can? :create, Club
                    - if current_user.premium?
                      %li= link_to I18n.t('.clubs.new_title'), new_club_path

      .row
        .small-12.columns.messages
          - flash.each do |name, msg|
            %div{class: "alert-box #{name}"}
              %a.close{"data-dismiss" => "alert"} x
              = msg

      .row
        .small-12.columns
          = yield

    %footer.footer
      .copyright <a href="https://twitter.com/VinkedIt" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @VinkedIt</a>

      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    = javascript_include_tag "application"
